//Linking the style.scss
@import 'style';

/*
MAIN
*///
  
.youtube__videos {
    
    padding-bottom: 100px;
    display : flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 980px;
    width: 100%; 

    &__title{
        text-align: center;
        width: 100%;
        font-family: "Arima Madurai", Courier, monospace;
        font-size: 36px;
        color: #000; 
    }

    &__content {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__explain {
      width: 80%;
      margin-top: 20px;
      

      p {
         font-size: 23px; 
      }
    }
}
    
.articles-ressources__presentation {
    display : flex;
    flex-wrap: wrap;
    flex-direction: row;
  
    height: 980px;
    width: 100%;
    background-size: 100%;
    background-image: url("../images/bg-articles.png"); }

.articles-ressources__title{
    
    height : 60px;
    text-align: center;
    width: 100%;
    font-family: "Arima Madurai", Courier, monospace;
    font-size: 36px;
    color: #000; 
}

.articles-ressources__content {
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.articles-ressources__content__image {
    height: 350px;
    width: 450px;
    overflow: hidden;
    margin-top: 40px;
    position: relative;
}

.articles-ressources__content__image:hover .articles-ressources__text {
    display: block;
}

.articles-ressources__text {
    background-color: rgba(255, 255, 255, 0.75);
    width: 400px;
    height: 300px;
    display: none;
    position: absolute;
    left : 25px;
    top: 25px;
}
      
.articles-ressources__text h2 {
    text-align: center;
    font-family: "Arima Madurai", Courier, monospace;
}

.articles-ressources__text p {
    margin: 10px;
    font-size: 22px;
    text-align: center;
}

.articles-ressources__link {
    position: absolute;
    top : 250px;
    left: 120px;
    margin: 0 auto;
    width : 160px;
    height : 30px;
    text-align: center;
    background-color: #DAA520;
    border-radius: 30px;
}

.articles-ressources__link a{
    text-decoration: none;
    font-size: 20px;
    font-family: "Arima Madurai", Courier, monospace;
    color: #FFF;
    cursor: pointer;
}
  
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1440px */
@media screen and (max-width: 1440px)
{
    .articles-ressources {
        &__title {
            margin-bottom: 37px;
        }

        &__content {

            justify-content: space-around;
        }

        &__presentation {
            height: 100%;
        }
    }
}