// COLORS

$orange-color : #DAA520;
$pink-color: #FFCCCC;
$black : #000;
$white : #fff;

// FONTS
$current-text : 'Pompiere';
$title : 'Open Sans Condensed';
$subtitle : 'Arima Madurai';

body{
    padding: 0;
    margin : 0;
}

p{
    font-family: $current-text;
    font-size : 36px;
    color: $black;
}

/*
HEADER
*/

.head-backgroundImage {
    height: 1000px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    &--index{
        background-image: url('../images/bg-accueil.png');
    }
}

//navaigation menu nav
.head__navigation-menu {
    background-color: rgb(255, 255, 255); 
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__logo {
        background: $pink-color;
        width: 72px;
        height: 72px;
        border-radius: 49.5%;
    }

    //navigation menu ul 
    &__list {
        display: flex;
        justify-content: space-between;
        padding: 0;

        //navigation menu listItem li
        &Item {
            list-style: none;
            margin-left: 30px;
            margin-right: 30px;
        }

        //navigation menu listItem a 
        &Item a {
            font-family: $current-text;
            font-weight: lighter;
            font-size: 24px;
            color: $white;
            text-decoration: none;
        }
    }
}

//Bouton scroll
.head__scroll-button {
    
}