// COLORS

$orange-color : #DAA520;
$pink-color: #FFCCCC;
$black : #000;
$white : #fff;

// FONTS
$current-text : 'Pompiere';
$title : 'Open Sans Condensed';
$subtitle : 'Arima Madurai';

body{
    padding: 0;
    margin : 0;
}

p{
    font-family: $current-text;
    font-size : 36px;
    color: $black;
}

