// COLORS

$orange-color : #DAA520;
$pink-color: #FFCCCC;
$black : #000;
$white : #fff;

// FONTS
$current-text : 'Pompiere';
$title : 'Open Sans Condensed';
$subtitle : 'Arima Madurai';

body{
    padding: 0;
    margin : 0;
}

p{
    font-family: $current-text;
    font-size : 36px;
    color: $black;
}

/*
HEADER
*/

.head-backgroundImage {
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: 100%;    

    &--index{
        background-image: url('../images/bg-accueil.png');
    }
}

.head__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

//navaigation menu nav
.head__navigation-menu {

    
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 70px;
    

    &__logo {
        background: $pink-color;
        width: 50px;
        height: 50px;
        border-radius: 49.5%;
    }

    //navigation menu ul 
    &__list {
        display: flex;
        justify-content: space-between;
        padding: 0;

        //navigation menu listItem li
        &Item {
            list-style: none;
            margin-left: 30px;
            margin-right: 30px;
        }

        //navigation menu listItem a 
        &Item a {
            font-family: $current-text;
            font-weight: lighter;
            font-size: 24px;
            color: $white;
            text-decoration: none;
        }
    }
}

//text in the 
.head__titleDiv {
    width: 100%;
    height: 72%;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: $subtitle, Courier, monospace;
    color: white;
    

    &__title {
        font-size: 100px;
        margin-bottom: 0px;
        margin-top: 100px;
        font-weight: normal;
    }

    &__subTitle1 {
        font-size: 16px;
        font-weight: 100;
        margin-top: -18px;
        opacity: 0.6;
    }

    &__subTitle2 {
        font-size: 16px;
        color: $pink-color;
        margin-top: -13px;
        font-weight: 100;
        opacity: 0.6;
    }
}

//Bouton scroll
.head__scroll-button {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    animation: scroll-button ease-in  ;

    img{
        width: 23.5px;
        height: 13px;
    }
}

@keyframes scroll-button{
    from{
        position: absolute;
        transform: rotate(90deg);
    }
    to{
        position: absolute;
        bottom: 50px;
        
    }
}

//Header socialNetwork Icon part
.head__socialNetDiv {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 40%;
    right: 6%;

    &__icon {

              

        &--facebook {
            background-image: url('../images/facebook.png');
            width: 32px;
            height: 32px; 
            background-position: center;
            background-repeat: no-repeat;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        &--instagram {
            background-image: url('../images/instagram.svg');
            width: 32px;
            height: 32px; 
            background-position: center;
            background-repeat: no-repeat;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        &--youtube {
            background-image: url('../images/youtube.svg');
            width: 32px;
            height: 32px; 
            background-position: center;
            background-repeat: no-repeat;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    &:before {
        background: $orange-color;
        height: 83px;
        width: 2px;
    }
}



/*
MAIN
*/

.separation-dash{
    height: 2px;
    width: 60px;
    background : lightgrey;
    border-radius : 2px;
    margin: 50px auto;
}

.general-presentation{
    display: flex;
    align-items: center;
    height: 70vh;
    width: 640px;
    margin: 0 auto;
}

.general-presentation__content{

    margin: 0 auto;
    text-align: center;

    &__title{
        font-family: $title;
    }

    &__text{
        font-family: $current-text;
        font-size: 24px;
    }
    &__link{
        display: inline-block;
        text-decoration: none;
        font-family: $subtitle;
        color: $white;
        padding: 10px 50px;
        background: $orange-color;
        border-radius: 5px;
        margin-bottom: 70px;
        transition: all 0.2s;

        &:hover{
            background: rgb(171, 130, 26);
        }

    }
}

.services-presentation{
    background: url(../images/bg-univers.png);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__content{
        display: flex;
        justify-content: center;
        // align-items: center;

        &__fix{
            
            align-items: center;
            flex-direction: column;
            display: flex;
            
        }

        &__title{
            font-family: $title;
        }

        &__services{
            display: flex;
            justify-content: center;
            margin: 50px;
            &__item{
                text-align: center;
                // display: inline-block;
                text-decoration: none;
                color: $black;
                font-family: $current-text;
                font-size: 2rem;
                padding: 110px;
                // margin: 50px;
                background: url(../images/bg-services-item.png) no-repeat ;
                background-size: 250px;
                background-position: center;
                transition: all 0.5s ease-in;
                &:hover{
                    transform:  scale(1.02);
                    color: $orange-color;
                }
            }
        }
    }

}


.article-container{
    width: 960px;
    margin: 0 auto;
}

.services-articles__article-group{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;

    img{
        width: 400px;
        height: 340px;
        transition: all 1s;
        &:hover{
            transform: scale(1.02)
        }
    }

    p{
        
        width: 400px;
        font-size: 24px;
        margin-bottom: 55px;
    }

    h2{
        font-family: $title;
        margin-top: 0;
    }

    &__article__link{
        font-family: $subtitle;
        color: $white;
        text-decoration: none;
        padding: 5px 50px;
        border-radius: 30px;
        background: $orange-color;
        transition: 0.2s;
        &:hover{
            background: rgb(171, 130, 26);
        }

    }
    &__separation-line{
        height: 340px;
        width: 3px;
        border-radius: 3px;
        background: $pink-color;
    }
}

.text-align-right{
    text-align: right;
}


.contact{
    background: url(../images/bg-contact.png);
    text-align: center;
    &__form{
        margin: 30px;

        &__submit{margin-bottom: 30px;
            padding: 10px 60px;
            border: none;
            background: $orange-color;
            border-radius: 20px;
            color: $white;
            cursor: pointer;
            transition: all 0.5s;
            // text-align: right;
            // display: block;
            &:hover{
                background: rgb(171, 130, 26);
            }
        }
    }
    
    h2{
        padding-top: 50px;
        font-family: $title;
    }

    p{
        width: 300px;
        font-size: 16px;
        margin: auto;
    }

    textarea{
        display: block;
        margin: 20px auto;
        border: none;
        border-radius: 10px;
        outline: none;
        resize: none;
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .contact__form__input{
        padding: 10px 10px 10px 20px;
        border: none;
        border-radius: 50px;
        outline: none;
        resize: none;
        // padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        width: 310px;
        margin: 5px 5px;
    }

    &__info{
        display: flex;
        justify-content: space-between;
        width: 700px;
        margin: 0 auto;

        p{
            width: auto;
            margin: 2px;
            text-align: left;
            font-family: $subtitle;
            font-weight: 100;
            opacity: 0.6;
        }

        h4{
            font-family: $subtitle;
            margin: 2px;
            // text-align: left;
        }

        &__phone{
            
            &::before{
                content: url('../images/phone.png');
                
            }
        }
        &__mail{
          
            &::before{
                content: url('../images/email.png');
                
            }
        }
        &__localisation{
               
            &::before{
                content: url('../images/localisation.png');
                    
            }
        
        }
    }

}


footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        font-family: $subtitle;
    font-size: 16px;
    text-align: center;
    opacity: 0.5;
    }
    
}