body
{
	padding: 0;
	margin: 0;
}

h2{
	font-family: 'Open Sans Condensed';
	font-size: 24px;
	text-align: center;
}
.head-backgroundImage {
	height: 100vh;
	width: 100%;
	position: relative;
	background-size: 100%; }
	.head-backgroundImage--index {
	  background-image: url("../images/bg-coaching.jpg"); }
  
  .head__container {
	display: flex;
	justify-content: space-around;
	align-items: center; }
  
  .head__navigation-menu {
	background-color: rgba(255, 255, 255, 0.3);
	width: 100%;
	height: 70px; 
	transition: all 0.5s ease-in;
	z-index: 1000;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.142);}
	.head__navigation-menu__logo {
	  background: #FFCCCC;
	  width: 50px;
	  height: 50px;
	  border-radius: 49.5%; }
	.head__navigation-menu__list {
	  display: flex;
	  justify-content: space-between;
	  padding: 0; }
	  .head__navigation-menu__listItem {
		list-style: none;
		margin-left: 30px;
		margin-right: 30px; }
	  .head__navigation-menu__listItem a {
		transition: all 0.5s ease-in;
		font-family: "Pompiere";
		font-weight: lighter;
		font-size: 24px;
		color: #fff;
		text-decoration: none; }
  
  .head__titleDiv {
	width: 100%;
	height: 72%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: "Arima Madurai", Courier, monospace;
	color: white; }
	.head__titleDiv__title {
	  font-size: 100px;
	  margin-bottom: 0px;
	  margin-top: 100px;
	  font-weight: normal; }
	.head__titleDiv__subTitle1 {
	  font-size: 16px;
	  font-weight: 100;
	  margin-top: -18px;
	  opacity: 0.6; }
	.head__titleDiv__subTitle2 {
	  font-size: 16px;
	  color: #FFCCCC;
	  margin-top: -13px;
	  font-weight: 100;
	  opacity: 0.6; }
  
  .head__scroll-button {
	position: absolute;
	bottom: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	animation: scroll-button ease-in; }
	.head__scroll-button img {
	  width: 23.5px;
	  height: 13px; }
  
  @keyframes scroll-button {
	from {
	  position: absolute;
	  transform: rotate(90deg); }
	to {
	  position: absolute;
	  bottom: 50px; } }
  .head__socialNetDiv {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 40%;
	right: 6%; }
	.head__socialNetDiv__icon--facebook {
	  background-image: url("../images/facebook.png");
	  width: 32px;
	  height: 32px;
	  background-position: center;
	  background-repeat: no-repeat;
	  margin-top: 15px;
	  margin-bottom: 15px; }
	.head__socialNetDiv__icon--instagram {
	  background-image: url("../images/instagram.svg");
	  width: 32px;
	  height: 32px;
	  background-position: center;
	  background-repeat: no-repeat;
	  margin-top: 15px;
	  margin-bottom: 15px; }
	.head__socialNetDiv__icon--youtube {
	  background-image: url("../images/youtube.svg");
	  width: 32px;
	  height: 32px;
	  background-position: center;
	  background-repeat: no-repeat;
	  margin-top: 15px;
	  margin-bottom: 15px; }
	.head__socialNetDiv:before {
	  background: #DAA520;
	  height: 83px;
	  width: 2px; }

	  nav{
		  position: fixed;
	  }
  
/**/


.questionSpace__askDiv__text
{
	width: 45%;
	margin: auto;
	margin-top: 100px;
}

.questionSpace__askDiv__text p
{
	font-family: "Pompiere";
	font-size: 25px;
	color: #000;
}

.questionSpace__pricesDiv
{
	width: 45%;
	margin: 0 auto;
	margin-top: 200px;
}

.questionSpace__pricesDiv__container
{
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.questionSpace__pricesDiv__container__box
{
	width: 409.75px;
	height: 565.26px;
	display: flex;
	flex-direction: column;
	border-radius: 70px;
}

.box1
{
	background-image: linear-gradient(to right bottom, #daa520, #f0a04c, #fba071, #fba492, #f2adad);
}

.box2
{
	background-image: linear-gradient(to right bottom, #f2adad, #fba492, #fba071, #f0a04c, #daa520);
}

.topBox
{
	width: 100%;
	height: 121.54px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFDAB9;
	border-radius: 70px 70px 0px 0px;
}

.topBox h3
{
	font-family: 'Open Sans Condensed', sans-serif;
}

.mediumBox
{
	width: 100%;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mediumBox p
{
	font-size: 60px;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bolder;
}

.botBoxLink
{
	text-decoration: none;
	color: black;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bolder;
	font-size: 25px;
	margin: 0;
	padding: 0;
}

.botBoxDiv
{
	width: 85%;
	height: 70px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
	/* text-align: center;
	*/
	background-color: white;
	border-radius: 20px;
}

.questionSpace__pricesDiv__quote
{
	width: 70%;
	margin: 0 auto;
	text-align: center;
	margin-top: 200px;
}

.questionSpace__pricesDiv__quote p
{
	font-size: 27px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-style: oblique;
	margin-bottom: 45px;
}

.services-presentation {
	/* background: url(../images/bg-univers.png); */
	/* height: 100vh; */
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center; 
}
	.services-presentation__content {
	  display: flex;
	  justify-content: center; 
	}
	.services-presentation__content__fix {
		align-items: center;
		flex-direction: column;
		display: flex; }
	  .services-presentation__content__title {
		font-family: "Open Sans Condensed"; 
		margin-top: 100px;
	}
	  .services-presentation__content__services {
		display: flex;
		justify-content: center;
		margin: 50px; }
		.services-presentation__content__services__item {
		  text-align: center;
		  text-decoration: none;
		  color: #000;
		  font-family: "Open Sans Condensed";
		  font-size: 2rem;
		  padding: 110px;
		  background: url(../images/bg-services-item.png) no-repeat;
		  background-size: 250px;
		  background-position: center;
		  transition: all 0.5s ease-in; 
		margin: 0;}
		  .services-presentation__content__services__item:hover {
			transform: scale(1.02);
			color: #DAA520; }

span{
	display: block;
	font-size: 24px;
	opacity: 0.6;
	font-family: 'Open Sans Condensed';
	font-weight: 100;
}

h3{
	text-align: center;
	margin: 0;
	font-family: 'Open Sans Condensed';
	font-weight: 400
}

p, li{
	font-family: 'Pompiere';
	font-size: 24px;
	margin: 0;
}

.caption{
	font-style: italic;
	text-align: center;
	margin: auto;
	margin-top: 50px;
}

.questionSpace__askDiv__text a{
	display: block;
	text-align: center;
	color: #DAA520;
	text-decoration: none;
}

.questionSpace__askDiv__text a:hover{
	text-decoration: underline;
}

footer {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: lightgray;
 }
	footer p {
	  font-family: "Arima Madurai";
	  font-size: 16px;
	  text-align: center;
	  opacity: 0.5; 

	}