
body
{
	padding: 0;
	margin: 0;
}

/* p
{
	font-family: "Pompiere";
	font-size: 25px;
	color: #000;
}

*/
h2
{
	font-size: 35px;
	font-family: 'Open Sans Condensed', sans-serif;
}

/*HEADER*/
.head-backgroundImage
{
	height: 969px;
	width: 100%;
	position: relative;
	background-size: 100%;
}

.head-backgroundImage--index
{
	background-image: url("../images/bg-nat.png");
}

.head__navigation-menu
{
	background-color: white;
	background-color: rgba(122, 116, 116, 0.466);
	width: 100%;
	height: 110px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.head__navigation-menu__logo
{
	background: #FFCCCC;
	width: 72px;
	height: 72px;
	border-radius: 49.5%;
}

.head__navigation-menu__list
{
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.head__navigation-menu__listItem
{
	list-style: none;
	margin-left: 30px;
	margin-right: 30px;
}

.head__navigation-menu__listItem a
{
	font-family: "Open Sans Condensed";
	font-weight: lighter;
	font-size: 24px;
	color: #fff;
	text-decoration: none;
}

.head__titleDiv
{
	width: 100%;
	height: 72%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: "Arima Madurai", Courier, monospace;
	color: white;
}

.head__titleDiv__title
{
	font-size: 100px;
	margin-bottom: 0px;
	font-weight: normal;
}

.head__titleDiv__subTitle1
{
	font-size: 24px;
	font-weight: lighter;
	margin-top: -18px;
}

.head__titleDiv__subTitle2
{
	font-size: 24px;
	color: #FFCCCC;
	margin-top: -13px;
    font-weight: normal;
    
}

.head__scroll-button
{
	position: absolute;
	bottom: 75px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.head__socialNetDiv
{
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 40%;
	right: 6%;
}

.head__socialNetDiv__icon--facebook
{
	background-image: url("../images/facebook.png");
	width: 32px;
	height: 32px;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 15px;
	margin-bottom: 15px;
}

.head__socialNetDiv__icon--instagram
{
	background-image: url("../images/instagram.svg");
	width: 32px;
	height: 32px;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 15px;
	margin-bottom: 15px;
}

.head__socialNetDiv__icon--youtube
{
	background-image: url("../images/youtube.svg");
	width: 32px;
	height: 32px;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 15px;
	margin-bottom: 15px;
}

.head__socialNetDiv:before
{
	background: #DAA520;
	height: 83px;
	width: 2px;
}

.general-presentation
{
	height: 980px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.general-presentation__content
{
	width: 54.5%;
}

.services-presentation
{
	height: 980px;
	width: 100%;
	background-size: 100%;
	background-image: url("../images/bg-univers.png");
}

/**/
.container
{
	height: 5000px;
}

.questionSpace__askDiv__text
{
	width: 45%;
	margin: auto;
	margin-top: 100px;
}

.questionSpace__askDiv__text p
{
	font-family: "Pompiere";
	font-size: 25px;
	color: #000;
}

.questionSpace__pricesDiv
{
	width: 45%;
	margin: 0 auto;
	margin-top: 200px;
}

.questionSpace__pricesDiv__container
{
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.questionSpace__pricesDiv__container__box
{
	width: 409.75px;
	height: 565.26px;
	display: flex;
	flex-direction: column;
	border-radius: 70px;
}

.box1
{
	background-image: linear-gradient(to right bottom, #daa520, #f0a04c, #fba071, #fba492, #f2adad);
}

.box2
{
	background-image: linear-gradient(to right bottom, #f2adad, #fba492, #fba071, #f0a04c, #daa520);
}

.topBox
{
	width: 100%;
	height: 121.54px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFDAB9;
	border-radius: 70px 70px 0px 0px;
}

.topBox h3
{
	font-family: 'Open Sans Condensed', sans-serif;
}

.mediumBox
{
	width: 100%;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mediumBox p
{
	font-size: 60px;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bolder;
}

.botBoxLink
{
	text-decoration: none;
	color: black;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bolder;
	font-size: 25px;
	margin: 0;
	padding: 0;
}

.botBoxDiv
{
	width: 85%;
	height: 70px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
	/* text-align: center;
	*/
	background-color: white;
	border-radius: 20px;
}

.questionSpace__pricesDiv__quote
{
	width: 70%;
	margin: 0 auto;
	text-align: center;
	margin-top: 200px;
}

.questionSpace__pricesDiv__quote p
{
	font-size: 27px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-style: oblique;
	margin-bottom: 45px;
}