
body {
  padding: 0;
  margin: 0; }

p {
  font-family: "Pompiere";
  font-size: 36px;
  color: #000; }

/*
HEADER
*/
.head-backgroundImage {
  height: 969px;
  width: 100%;
  position: relative;
  background-size: 100%; }
  .head-backgroundImage--index {
    background-image: url("../images/bg-ressources.png");}

.head__navigation-menu {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .head__navigation-menu__logo {
    background: #FFCCCC;
    width: 72px;
    height: 72px;
    border-radius: 49.5%; }
  .head__navigation-menu__list {
    display: flex;
    justify-content: space-between;
    padding: 0; }
    .head__navigation-menu__listItem {
      list-style: none;
      margin-left: 30px;
      margin-right: 30px; }
    .head__navigation-menu__listItem a {
      font-family: "Open Sans Condensed";
      font-weight: lighter;
      font-size: 24px;
      color: #fff;
      text-decoration: none; }

.head__titleDiv {
  width: 100%;
  height: 72%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Arima Madurai", Courier, monospace;
  color: white; }
  .head__titleDiv__title {
    font-size: 100px;
    margin-bottom: 0px;
    margin-top: 100px;
    font-weight: normal; }
  .head__titleDiv__subTitle1 {
    font-size: 24px;
    font-weight: lighter;
    margin-top: -18px; }
  .head__titleDiv__subTitle2 {
    font-size: 24px;
    color: #FFCCCC;
    margin-top: -13px;
    font-weight: normal; }

.head__scroll-button {
  position: absolute;
  bottom: 75px;
  width: 100%;
  display: flex;
  justify-content: center; }

.head__socialNetDiv {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 40%;
  right: 6%; }
  .head__socialNetDiv__icon--facebook {
    background-image: url("../images/facebook.png");
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px; }
  .head__socialNetDiv__icon--instagram {
    background-image: url("../images/instagram.svg");
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px; }
  .head__socialNetDiv__icon--youtube {
    background-image: url("../images/youtube.svg");
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px; }
  .head__socialNetDiv:before {
    background: #DAA520;
    height: 83px;
    width: 2px; }


.youtube__videos {
  padding-bottom: 100px;
  display : flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 980px;
  width: 100%; }
  .youtube__videos__title{
    text-align: center;
    width: 100%;
    font-family: "Arima Madurai", Courier, monospace;
    font-size: 36px;
    color: #000; }
  .youtube__videos__content {
    width: 47%; }
  .youtube__videos__explain {
    width: 80%;
    margin-top: 20px;
    font-size: 18px;
  }

.articles__presentation {
  display : flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 980px;
  width: 100%;
  background-size: 100%;
  background-image: url("../images/bg-articles.png"); }
  .articles__title{
    text-align: center;
    width: 100%;
    font-family: "Arima Madurai", Courier, monospace;
    font-size: 36px;
    color: #000; }
  .articles__content {
    width : 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .articles__content__image {
      height: 350px;
      width: 450px;
      overflow: hidden;
    }
