@charset "UTF-8";
body {
  padding: 0;
  margin: 0; }

p {
  font-family: "Pompiere";
  font-size: 36px;
  color: #000; }

/*
HEADER
*/
.head-backgroundImage {
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: 100%; }
  .head-backgroundImage--index {
    background-image: url("../images/bg-accueil.png"); }
  .head-backgroundImage--who {
    background-image: url("../images/bg-who2.jpg"); }
  .head-backgroundImage--contact {
    background-image: url("../images/bg-header-contact.jpg"); }

.button-menu {
  background-image: url(../images/button-menu.png);
  height: 50px;
  width: 50px;
  position: absolute;
  background-repeat: no-repeat;
  left: 114px;
  top: 70px;
  z-index: 10;
  display: none; }

.head__container {
  display: flex;
  justify-content: space-around;
  align-items: center; }

nav {
  position: fixed; }

.head__navigation-menu {
  z-index: 1000;
  transition: all 0.5s ease-in;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.142);
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 70px; }
  .head__navigation-menu__logo {
    background: #FFCCCC;
    width: 50px;
    height: 50px;
    border-radius: 49.5%; }
  .head__navigation-menu__list {
    display: flex;
    justify-content: space-between;
    padding: 0; }
    .head__navigation-menu__listItem {
      list-style: none;
      margin-left: 30px;
      margin-right: 30px; }
    .head__navigation-menu__listItem a {
      transition: all 0.5s ease-in;
      font-family: "Pompiere";
      font-weight: lighter;
      font-size: 24px;
      color: #fff;
      text-decoration: none; }

.head__titleDiv {
  width: 100%;
  height: 72%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Arima Madurai", Courier, monospace;
  color: white; }
  .head__titleDiv__title {
    font-size: 100px;
    margin-bottom: 0px;
    margin-top: 100px;
    font-weight: normal; }
  .head__titleDiv__subTitle1 {
    font-size: 16px;
    font-weight: 100;
    margin-top: -18px;
    opacity: 0.6; }
  .head__titleDiv__subTitle2 {
    font-size: 16px;
    color: #FFCCCC;
    margin-top: -13px;
    font-weight: 100;
    opacity: 0.6; }

.head__scroll-button {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  animation: scroll-button ease-in; }
  .head__scroll-button img {
    width: 23.5px;
    height: 13px; }

@keyframes scroll-button {
  from {
    position: absolute;
    transform: rotate(90deg); }
  to {
    position: absolute;
    bottom: 50px; } }
.head__socialNetDiv {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 40%;
  right: 6%; }
  .head__socialNetDiv__icon--facebook {
    background-image: url("../images/facebook.png");
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px; }
  .head__socialNetDiv__icon--instagram {
    background-image: url("../images/instagram.svg");
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px; }
  .head__socialNetDiv__icon--youtube {
    background-image: url("../images/youtube.svg");
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px; }
  .head__socialNetDiv:before {
    background: #DAA520;
    height: 83px;
    width: 2px; }

/*
MAIN
*/
.block-in-responsive {
  display: none !important; }

.separation-dash {
  height: 2px;
  width: 60px;
  background: lightgrey;
  border-radius: 2px;
  margin: 50px auto; }

.general-presentation {
  display: flex;
  align-items: center;
  height: 70vh;
  width: 640px;
  margin: 0 auto; }

.general-presentation__content {
  margin: 0 auto;
  text-align: center; }
  .general-presentation__content__title {
    font-family: "Open Sans Condensed"; }
  .general-presentation__content__text {
    font-family: "Pompiere";
    font-size: 24px; }
  .general-presentation__content__link {
    display: inline-block;
    text-decoration: none;
    font-family: "Arima Madurai";
    color: #fff;
    padding: 10px 50px;
    background: #DAA520;
    border-radius: 5px;
    margin-bottom: 70px;
    transition: all 0.2s; }
    .general-presentation__content__link:hover {
      background: #ab821a; }

.services-presentation {
  background: url(../images/bg-univers.png);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .services-presentation__content {
    display: flex;
    justify-content: center; }
    .services-presentation__content__fix {
      align-items: center;
      flex-direction: column;
      display: flex; }
    .services-presentation__content__title {
      font-family: "Open Sans Condensed"; }
    .services-presentation__content__services {
      display: flex;
      justify-content: center;
      margin: 50px; }
      .services-presentation__content__services__item {
        text-align: center;
        text-decoration: none;
        color: #000;
        font-family: "Pompiere";
        font-size: 2rem;
        padding: 110px;
        background: url(../images/bg-services-item.png) no-repeat;
        background-size: 250px;
        background-position: center;
        transition: all 0.5s ease-in; }
        .services-presentation__content__services__item:hover {
          transform: scale(1.02);
          color: #DAA520; }

.article-container {
  width: 960px;
  margin: 0 auto; }

.services-articles__article-group {
  display: flex;
  justify-content: space-between;
  margin: 50px 0; }
  .services-articles__article-group img {
    width: 400px;
    height: 340px;
    transition: all 1s; }
    .services-articles__article-group img:hover {
      transform: scale(1.02); }
  .services-articles__article-group p {
    width: 400px;
    font-size: 24px;
    margin-bottom: 55px; }
  .services-articles__article-group h2 {
    font-family: "Open Sans Condensed";
    margin-top: 0; }
  .services-articles__article-group__article__link {
    font-family: "Arima Madurai";
    color: #fff;
    text-decoration: none;
    padding: 5px 50px;
    border-radius: 30px;
    background: #DAA520;
    transition: 0.2s; }
    .services-articles__article-group__article__link:hover {
      background: #ab821a; }
  .services-articles__article-group__separation-line {
    height: 340px;
    width: 3px;
    border-radius: 3px;
    background: #FFCCCC; }

.text-align-right {
  text-align: right; }

.contact {
  background: url(../images/bg-contact.png);
  text-align: center; }
  .contact__form {
    margin: 30px; }
    .contact__form__submit {
      margin-bottom: 30px;
      padding: 10px 60px;
      border: none;
      background: #DAA520;
      border-radius: 20px;
      color: #fff;
      cursor: pointer;
      transition: all 0.5s; }
      .contact__form__submit:hover {
        background: #ab821a; }
  .contact h2 {
    padding-top: 50px;
    font-family: "Open Sans Condensed"; }
  .contact p {
    width: 300px;
    font-size: 16px;
    margin: auto; }
  .contact textarea {
    display: block;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    outline: none;
    resize: none;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif; }
  .contact .contact__form__input {
    padding: 10px 10px 10px 20px;
    border: none;
    border-radius: 50px;
    outline: none;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 310px;
    margin: 5px 5px; }
  .contact__text {
    font-size: 22px !important; }
  .contact__info {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto; }
    .contact__info p {
      width: auto;
      margin: 2px;
      text-align: left;
      font-family: "Arima Madurai";
      font-weight: 100;
      opacity: 0.6; }
    .contact__info h4 {
      font-family: "Arima Madurai";
      margin: 2px; }
    .contact__info__phone::before {
      content: url("../images/phone.png"); }
    .contact__info__mail::before {
      content: url("../images/email.png"); }
    .contact__info__localisation::before {
      content: url("../images/localisation.png"); }

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center; }
  footer p {
    font-family: "Arima Madurai";
    font-size: 16px;
    text-align: center;
    opacity: 0.5; }

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1080px */
@media screen and (max-width: 1920px) {
  .head-backgroundImage {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right; } }
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1132px */
@media screen and (max-width: 1132px) {
  .block-in-responsive {
    display: block !important; }

  .none-in-responsive {
    display: none !important; }

  .services-presentation__content__services {
    margin-top: 50px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0; }
    .services-presentation__content__services__item {
      padding: 88px;
      background-size: 187px;
      font-size: 1.3rem; }

  .article-container {
    width: 858px; } }
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 930px */
@media screen and (max-width: 930px) {
  .button-menu {
    display: block; }

  .head__navigation-menu {
    width: 250px;
    height: 100%;
    background-color: rgba(150, 150, 150, 0.5);
    left: -252px;
    position: absolute;
    z-index: 0; }
    .head__navigation-menu--displayed {
      left: 0px;
      animation-duration: 1s;
      animation-name: displayMenu; }
    .head__navigation-menu--hidden {
      left: -252px;
      animation-duration: 1s;
      animation-name: hideMenu; }
    .head__navigation-menu__list {
      flex-direction: column;
      align-items: center; }
      .head__navigation-menu__listItem {
        margin-top: 28px; }
    .head__navigation-menu__logo {
      display: none; }

  .head__container {
    flex-direction: column;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    padding-top: 44px;
    height: 930px; }

  .head__socialNetDiv {
    display: none; }

  .general-presentation {
    width: 556px; }

  .services-presentation__content__services {
    flex-direction: column; }

  .article-container {
    width: 556px; }

  .services-articles__article-group {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .services-articles__article-group__separation-line {
      height: 3px;
      width: 340px;
      margin: 23px; }

  .contact textarea {
    width: 301px; }
  .contact__info {
    width: 459px; }

  @keyframes displayMenu {
    from {
      left: -252px; }
    to {
      left: 0px; } }
  @keyframes hideMenu {
    from {
      left: 0px; }
    to {
      left: -252px; } } }
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 640px */
@media screen and (max-width: 640px) {
  .head-backgroundImage {
    height: 487px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto; }

  .head__navigation-menu {
    height: 443px; }

  .head__titleDiv__title {
    font-size: 50px; }

  .head__scroll-button {
    bottom: 512px; }

  .button-menu {
    left: 34px;
    top: 34px; }

  .general-presentation {
    width: 310px;
    margin: 14px auto; }

  .services-presentation {
    height: 109vh; }

  .article-container {
    width: 310px; }

  .services-articles__article-group img {
    width: 290px;
    height: auto; }
  .services-articles__article-group p {
    width: 313px;
    font-size: 21px; }
  .services-articles__article-group__separation-line {
    width: 240px; }

  .contact__info {
    width: 310px;
    flex-direction: column; }
    .contact__info p {
      text-align: center; }
  .contact__form__input {
    width: 271px; }
  .contact__form textarea {
    width: 271px !important; } }

/*# sourceMappingURL=style.css.map */
