body {
    padding: 0;
    margin: 0; }

  p {
    font-family: "Pompiere";
    font-size: 24px;
    color: #000; 
    width: 70%;
    margin: auto;
    /* text-align: center; */

  }

    h2{
      text-align: center;
      margin: 50px;
        font-size: 24px;
        font-family: 'Open Sans Condensed', sans-serif;
    }


    /*
HEADER
*/
.head-backgroundImage {
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat }
  .head-backgroundImage--index {
    background-image: url("../images/bg-who2.jpg"); }

.head__container {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.head__navigation-menu {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 70px; }
  .head__navigation-menu__logo {
    background: #FFCCCC;
    width: 50px;
    height: 50px;
    border-radius: 49.5%; }
  .head__navigation-menu__list {
    display: flex;
    justify-content: space-between;
    padding: 0; }
    .head__navigation-menu__listItem {
      list-style: none;
      margin-left: 30px;
      margin-right: 30px; }
    .head__navigation-menu__listItem a {
      font-family: "Pompiere";
      font-weight: lighter;
      font-size: 24px;
      color: #fff;
      text-decoration: none; }

.head__titleDiv {
  width: 100%;
  height: 72%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Arima Madurai", Courier, monospace;
  color: white; }
  .head__titleDiv__title {
    font-size: 100px;
    margin-bottom: 0px;
    margin-top: 100px;
    font-weight: normal; }
  .head__titleDiv__subTitle1 {
    font-size: 16px;
    font-weight: 100;
    margin-top: -18px;
    opacity: 0.6; }
  .head__titleDiv__subTitle2 {
    font-size: 16px;
    color: #FFCCCC;
    margin-top: -13px;
    font-weight: 100;
    opacity: 0.6; }

.head__scroll-button {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  animation: scroll-button ease-in; }
  .head__scroll-button img {
    width: 23.5px;
    height: 13px; }

@keyframes scroll-button {
  from {
    position: absolute;
    transform: rotate(90deg); }
  to {
    position: absolute;
    bottom: 50px; } }
.head__socialNetDiv {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 40%;
  right: 6%; }
  .head__socialNetDiv__icon--facebook {
    background-image: url("../images/facebook.png");
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px; }
  .head__socialNetDiv__icon--instagram {
    background-image: url("../images/instagram.svg");
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px; }
  .head__socialNetDiv__icon--youtube {
    background-image: url("../images/youtube.svg");
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px; }
  .head__socialNetDiv:before {
    background: #DAA520;
    height: 83px;
    width: 2px; }

    /*
    TEXT
    */

    .textDiv{
     
      width: 960px;
      margin: 0 auto;

    }

  /* .textDiv img{
    width: 50%;
    height: 50%;
  } */

  .mainText__title{ 
    /* margin: 50px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .textDiv__profile{
    width: 150px;
    height:150px;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px auto;
    margin-top: 50px;
    text-align: center;
  }

  .textDiv__profile img{
    width: 134%;
  } 

  footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightgray;
    margin-top: 25px;
  }
    footer p {
      font-family: "Arima Madurai";
      font-size: 16px;
      text-align: center;
      opacity: 0.5; }
   
